<h1>Admin::Items#show</h1>
<p>Find me in app/views/admin/items/show.html.erb</p>

<div class="container">
  <div class="row justify-content-between">
    <div class="col-2">
      <h5><strong>注文履歴詳細</strong></h5>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= image_tag @item.get_image %>
    </div>
    <div class="col">
      <table class="table-sm">
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>税込価格(税抜価格)</th>
          <td><%= @item.with_tax_purchase_price %>(<%= @item.purchase_price %>)</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row justify-content-center">
    <%= link_to edit_admin_item_path(@item.id) do %>
      <button type="button" class="btn btn-success">編集する</button>
    <% end %>
  </div>
</div>