<h1>Public::OrderHistorys#new</h1>
<p>Find me in app/views/public/OrderHistorys/new.html.erb</p>

<div class="container">
  <div class="row">
    <h5><strong>注文情報入力</strong></h5>
  </div>

  <%= form_with model: @order, url: '/orders/confirm', method: :post do |f| %>
  <div class="row">
    <h5>支払方法</h5>
  </div>
  <div class="row">
    <div>
      <%= f.radio_button :payment, OrderHistory.payments.key(1) %>
      <%= f.label :payment_credit_card, OrderHistory.payments_i18n[:credit_card] %>
    </div>
    <div>
      <%= f.radio_button :payment, OrderHistory.payments.key(2) %>
      <%= f.label :payment_transfer, OrderHistory.payments_i18n[:transfer] %>
    </div>
  </div>

  <div class="row">
    <h5>お届け先</h5>
  </div>
  <div class="row">
    <div>
      <%= f.radio_button :address, @customer.address %>
      <%= f.label :"ご自身の住所" %>
    </div>
    <div class="col-2"><%= @customer.address %></div>
  </div>
  <div class="row">
    <div>
      <%= f.radio_button :address, [@customer.address] %>
      <%= f.label :"登録済み住所から選択" %>
    </div>
    <div class="col-2"><%= f.select :address, [@customer.address] %></div>
  </div>
  <div class="row">
    <div>
      <%= f.radio_button :address, "address" %>
      <%= f.label :"新しいお届け先" %>
    </div>
  </div>
  <div class="row">
    <div class="col-3">郵便番号（ハイフンなし）</div>
    <div class="col"><%= f.text_field :postal_code %></div>
  </div>
  <div class="row">
    <div class="col-3">住所</div>
    <div class="col"><%= f.text_field :address %></div>
  </div>
  <div class="row">
    <div class="col-3">宛名</div>
    <div class="col"><%= f.text_field :name %></div>
  </div>

  <div class="row justify-content-center">
    <%= f.hidden_field :customer_id, :value => @customer.id %>
    <%= f.submit '確認画面へ進む', class: 'btn btn-success' %>
  </div>
  <% end %>

</div>