<div class="container">

<div class="row"><h5>ログイン</h5></div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row justify-content-center">
  <div class="col-9">会員の方はこちらからログイン</div>
<table class="table-sm table-borderless">
<tbody>
  <tr class="field">
    <th><%= f.label :"メールアドレス" %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </tr>

  <tr class="field">
    <th><%= f.label :"パスワード" %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </tr>

  <tr class="actions">
    <th></th>
    <td><%= f.submit "ログイン" %></td>
  </tr>
</tbody>
</table>
</div>
<% end %>

<div class="row justify-content-center">
  <div class="col-9">会員登録がお済みでない方</div>
  <div>
  <%= link_to new_customer_registration_path do %>
  <% "こちら" %>
  <% end %>
から新規登録してください。
</div>
</div>


</div>