<h1>Public::Items#show</h1>

<div class="container">
  <div class="row">
    <div class="col">
      <%= image_tag @item.get_image %>
    </div>
    <div class="col">
      <p><%= @item.name %></p>
      <p><%= @item.introduction %></p>
      <p>￥<%= @item.with_tax_purchase_price %>(税込)</p>

    <%= form_with model: @cart_item, url: '/cart_items', method: :post do |f| %>
    <span>
      <%= f.select :amount, *[1..10] %>
      <%= f.hidden_field :item_id, :value => @item.id %>
      <%= f.hidden_field :customer_id, :value => @customer.id %>
    </span>
    <span>
      <%= f.submit 'カートに入れる' %>
    </span>
    <% end %>

    </div>
  </div>

</div>