<!DOCTYPE html>
<html>
  <head>
    <title>ECsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

 <header>
    <nav class="navbar navbar-expand-lg border-bottom border-dark">
      <div class="container">
        <% if admin_signed_in? %>
         <div class="row">
        <li class="list-unstyled">
          <h1>LOGO</h1>
        </li>
        </div>
        <div class="row">
        <ul class="navbar-nav pull-right">
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "会員一覧", about_path %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "商品一覧", admin_items_index_path %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "注文履歴一覧", about_path %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
        </button>
        </ul>
        </div>
        <% elsif customer_signed_in? %>
         <div class="row">
        <li class="list-unstyled">
          <h1>LOGO</h1>
        </li>
        </div>
        <div class="row">
        <ul class="navbar-nav pull-right">
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "マイページ", about_path %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "商品一覧", about_path %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "カート", about_path %>
        </button>
        <button type="button" class="btn btn-outline-secondary">
          <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
        </button>
        </ul>
        </div>
        <% else %>
         <div class="row">
        <li class="list-unstyled">
          <h1>LOGO</h1>
        </li>
        </div>
        <div class="row">
        <ul class="navbar-nav pull-right">
          <button type="button" class="btn btn-outline-secondary">
            <%= link_to "About",about_path, class: "text-dark" %>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <%= link_to "商品一覧",about_path, class: "text-dark" %>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <%= link_to "新規登録",new_customer_registration_path, class: "text-dark" %>
          </button>
          <button type="button" class="btn btn-outline-secondary">
            <%= link_to "ログイン", new_customer_session_path, class: "text-dark" %>
          </button>
        </ul>
        </div>
        <% end %>
        </div>
      </div>
    </nav>
  </header>

  <body>
    <%= yield %>
  </body>

      <footer>
      <div class="border-top border-dark"></div>
      </footer>
</html>
